<!DOCTYPE html>
<html>
  <head>
    <title>Fwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if logged_in? %>
        <li><%= current_user.username %></li>
        <li><%= link_to 'Tweet!', new_tweet_path %></li>
        <li><%= link_to 'Logout', logout_path %></li>
      <% else %>
        <li><%= link_to 'Login', login_path %></li>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
